<div class="content masonry">
    {{#each page_info.dashboard_widgets}}
        {{>admin-content-widget class=size title=title content=content}}
    {{/each}}
</div>
<script src="/js/masonry.pkgd.min.js"></script>
<script>
    var baseItemWidth = document.querySelector(".content.masonry>.block:not(.w-2):not(.w-3)");
    var msnry = new Masonry('.masonry', { columnWidth: baseItemWidth, itemSelector: '.block', percentPosition: true });
</script>