<div class="card">
    <div class="img-container">
        <img class="card-image" src="{{imgSrc}}">
    </div>
    <div class="footer">
        <a class="downloadBtn" href="{{link}}" download="{{imgName}}" target="_blank"><i class="fas fa-download"></i></a>
    </div>
</div>