<div class="card">
    <div class="img-container">
        <img class="card-image" src="{{imgSrc}}">
    </div>
    <div class="footer">
        <div class="title">{{client}}</div>
        <div class="date">{{date}}</div>
    </div>
</div>