<nav class="sidebar">
    <div class="header">
        <div class="logo">
            <img src="/img/logo.png" alt="Logo">
        </div>
        <div class="title">Rafael Saraiva</div>
    </div>
    <div class="menu">
        <ul class="block">
            {{#each page_info.sidebar_items}}
                <a href="{{link}}" class="option {{#equal ../pageUrl link}}active{{/equal}}">
                    <li>
                        <div class="icon">
                            <i class="{{icon}}"></i>
                        </div>
                        <div class="nome">{{title}}</div>
                    </li>
                </a>
            {{/each}}
        <div class="divider"></div>
        <ul class="block">
            <a href="/private/configuracoes" class="option">
                <li><div class="icon"><i class="fas fa-cogs"></i></div><div class="nome">Configurações</div></li>
            </a>
            <a href="/private/logout" class="option">
                <li><div class="icon"><i class="fas fa-sign-out-alt"></i></div><div class="nome">Sair</div></li>
            </a>
        </ul>
    </div>
</nav>