<div class="topbar">
    <div class="searchBar">
        <div class="icon">
            <i class="fas fa-search"></i>
        </div>
        <input type="text" id="topbar-search" placeholder="Procurar..."/>
        <button>Procurar</button>
        <div class="search-results">
            <a href="#">
                Teste 1
            </a>
            <a href="#">
                Teste 2
            </a>
            <a href="#">
                Teste 3
            </a>
        </div>
    </div>
</div>