<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta> tags> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>{{#if title}} {{title}} | {{/if}}Rafael Jesus Saraiva</title>
</head>
<body>
    {{{body}}}
</body>
</html>