<style>
    form {
        width: 50vw;
        margin: 30px auto 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    form > * {
        width: 100%;
        text-align: center;
    }
    form > input {
        margin-bottom: 20px;
    }
    form > input[type="submit"] {
        padding: 10px
    }
</style>

<div class="message alert alert-danger" style="display:none;"></div>
<form onsubmit="return false;">
    <div class="form-group"><label for="email">Email</label><input class="form-control email" type="email" name="email" aria-describedby="emailHelp" autocomplete="username" /></div>
    <div class="form-group"><label for="password">Password</label><input class="form-control password" type="password" name="password" autocomplete="current-password" /></div>
    <div class="form-group"><button class="submit btn btn-primary" type="submit">Login</button></div>
    <br>
    <p>Dont have an account? <a href="/signup">Sign Up</a></p>
    <p>Or go <a href="/">home</a>.</p>
</form>

<script>
    var submitBtn = document.getElementsByClassName('submit')[0];
    submitBtn.addEventListener('click', function() {
        fetch("/user/login", {
            method: "POST", 
            body: JSON.stringify({
                email: document.getElementsByClassName('email')[0].innerHTML,
                password: document.getElementsByClassName('password')[0].innerHTML
            })
        }).then(res => {
            if (res.status == 'error') {
                var message = document.getElementsByClassName('message')[0];
                message.innerHTML = res.message;;
                message.style.display = '';
            } else {
                window.alert('success - you should redirect your user');
            }
        });
    });
</script>