<div class="content masonry">
    {{#each work_info}}
        {{>private-content-widget imgSrc=coverSrc client=clientName date=workDate}}
    {{/each}}
</div>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="/js/masonry.pkgd.min.js"></script>
<script>
    var imagesContainer = document.querySelector('.content.masonry');
    imagesLoaded(imagesContainer, function() {
        var cardImages = document.getElementsByClassName('card-image');
        for (var i = 0; i < cardImages.length; i++)
            setOrientation(cardImages.item(i));
        var baseItemWidth = document.querySelector(".content.masonry>.card");
        var msnry = new Masonry('.masonry', { columnWidth: baseItemWidth, itemSelector: '.card', percentPosition: true });
    });

    function setOrientation(src) {
        var parent = src.parentNode.parentNode;
        if (src.naturalWidth > src.naturalHeight) {
            parent.classList.add('horiz');
        } else if (src.naturalWidth < src.naturalHeight) {
            parent.classList.add('vert');
        } else {
            parent.classList.add('square');
        }
    }
</script>